/* footer.css */

.footer {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.containerx {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 10px;
}

.email {
    margin-top: 10px;
}
